* {
  box-sizing: border-box;
}

body {
  sans-serif;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6{
   margin: 0;
}

.list {
   /* margin: 0;*/
   padding: 0; 
   list-style: none;
}

p {
   margin: 0;
}

.header {
  text-align: center;
}

.form {
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto 0;
    max-width: 400px;
}

.form__metod-choice {
  width: 100%;
  padding: 0 50px;
}

.form__method {
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    width: 400px;
}

.form__button {
  max-width: 150px;
  margin: 15px auto;
}


/*Параметри фігури*/

.figures-container {
    display: flex;
}

.figure {
    margin: 0px auto;
}

.parameter-list {
  display: flex;
  margin: 40px auto 20px;
  width: 390px;
}

.parameter-list__list-item:not(:last-child) {
  margin-right: 35px;
}

.hidden {
  display: none;
}