* {
  box-sizing: border-box;
}

body {
  sans-serif;
  /* background-color: #cad3d3; */
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6{
   margin: 0;
}

.list {
   /* margin: 0;*/
   padding: 0; 
   list-style: none;
}

p {
   margin: 0;
}

.wrapper {
  padding-top: 10px;
  width: 100%;
  /* background-color: #e9f1f1; */
}

.header {
  text-align: center;
}

.form {
    background-color: #e2f3e4;
    border-style: solid;
    border-color: #80a6ac;
    border-radius:7px;
    background-color: #93c1cd;
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto 0;
    padding: 0 5px 5px;
    /* max-width: 400px; */
    width:100%;

}

.form__metod-choice {
  width: 100%;
  padding: 5px 0 5px calc(30px + (100vw - 286px) / 2);
}

.form__method-choice {
  margin-right: 10px;
}

.form__method {
    background-color: #e2f3e4;
    border-style: solid;
    border-color: #80a6ac;
    border-radius:7px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form__button {
  outline: none;
  background-color: #e9f2ef;
  border-color: #80a6ac;
  border-radius:4px;
  font-size: 15px;
  max-width: 130px;
  margin: 7px auto 9px;
}

.form__button:hover,
.form__button:focus
 {
  border-color: #f3f0c3;
  background-color: #80a6ac;
  color: #ffffff;
}

.form__button:active {
  background-color: #eb8b1e;
}

/* . {
  font-size: 17px;
  margin:5px 0;
} */

.form__input-color {
  margin-top: 4px;
}
/*Параметри фігури*/

.figures-container {
    display: flex;
    margin-bottom: 200px;
}

.figure {
    margin: 0px auto;
}

.parameter-list {
  display: flex;
  justify-content: space-evenly;
  margin: 10px auto 20px;
  /* width: 390px; */
}

.parameter-list__list-item {
  font-size:14px;
}

.form__сolour-entry-block {
  display: flex;
}

.form__сolour-entry-block .form__paragraph {
  margin-right: 10px;
}

.form__label.x {
  margin-left: 15px;
}

.form__label.y {
  margin-left: 30px;
}

.form__data-entry-block,
.form__сolour-entry-block {
  margin: 5px 0 0 0;
  padding: 0 0 0 calc(15px + (100vw - 301px) / 2);
}

.hidden {
  display: none;
}

@media screen and (max-width: 315px) {
  .header {
    font-size: 25px;
  }

  .form {
    margin: 5px auto 0;
  }
  
  .form__metod-choice {
    padding: 5px 0 5px calc(10px + (100vw - 230px) / 2);
  }
  .form__paragraph {
    font-size: 13.5px;

  }

  .form__сolour-entry-block .form__paragraph {
    padding-top: 8px;
  }

  .form__data-entry-block,
  .form__сolour-entry-block {
    margin: 5px 0 0 0;
    padding: 0 0 0 calc(5px + (100vw - 235px) / 2);
  }

  .parameter-list {
    position: relative;
    margin: 0 auto 8px;
    height: 39px;
  }
  .parameter-list__list-item {
    position: absolute;
  }
  .parameter-list__list-item:nth-child(1) {
    top: 3px;
    left: 20px;
  }
  .parameter-list__list-item:nth-child(2) {
    top: 19px;
    left: 20px;
  }
  .parameter-list__list-item:nth-child(3) {
    top: 3px;
    left: 120px;
  }
  .parameter-list__list-item:nth-child(4) {
    top: 19px;
    left: 120px;
  }
}


@media screen and (min-width: 357px) and (max-width: 483px) {
  .form {
    width: 357px;
  }
  .form__data-entry-block,
  .form__сolour-entry-block {
    margin: 5px 0 0 0;
    padding: 0 0 0 42px;
  }

  .form__metod-choice {
    padding: 5px 0 5px 70px;
  }
}

@media screen and (min-width: 484px) {
  .form__metod-choice {
    display: flex;
    padding: 5px 30px;
  }

  .method-description.form__paragraph {
    margin-left:auto;
  }

  .form__data-entry-block {
    display: flex;
  }
  .form__label {
    margin: 5px 0 0 10px;
  }
  .form__data-entry-block,
  .form__сolour-entry-block {
    padding: 0 0 0 calc(10px + (100vw - 494px) / 2);
  }

  .form__label.x {
    margin-left: 10px;
  }

  .form__label.y {
    margin-left: 10px;
  }

}

@media screen and (min-width: 580px) {
  .form__metod-choice {
    padding: 5px 70px;
  }

  .form {
    width: 580px
  }

  .parameter-list {
    margin: 15px auto 15px;
    width: 580px;
  }

  .parameter-list__list-item {
    font-size:18px;
  }
    .form__data-entry-block,
  .form__сolour-entry-block {
    padding: 0 0 0 60px;
  }
}

@media screen and (min-width: 830px) {
  .form {
    width: 830px
  }
  .form__method {
    flex-direction: row;
    padding-bottom: 6px;
  }

  .form__metod-choice {
    padding: 5px 200px;
  }


  .form__сolour-entry-block {
    margin-left: 20px;
    display: block;
  }

  .form__button.second {
    margin-left: 10px;
  }

  .form__label.x {
    margin-left: 20px;
  }

  .form__label-color {
    margin-left: 20px;
  }

  .form__input-color {
    margin-top: 0;
  }

  .form__data-entry-block,
  .form__сolour-entry-block {
    display: block;
    margin-left: 15px;
    padding: 0;
  }


}

/* @media screen and (min-width: 1200px) {
  .parameter-list {
    margin: 40px auto 20px;
  }
} */


/*------------Для супер малих екранів мобільних*/